.post {
    /*min-height: 200px;*/
    height: auto;
    min-width: 1100px;
    max-width: 1100px;
    border: 3px solid transparent;
    position: relative;
    border-radius: 2.9rem;
    /*background-color: #0c0c0c;*/
    background: linear-gradient(160deg, #1c1520 1%, #0c0c0c 20%) padding-box;
    color: white;
    display: flex;
    /*z-index: -3;*/
    /*height: 1000px;*/
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition:  0.5s ease-in-out;
    transition:  0.5s ease-in-out;
}

.post::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    margin: calc(-1 * 1px);
    border-radius: 2.75rem;
    background: linear-gradient(160deg, #7C57A5 1%, #292E3A 15%);
    -webkit-transition: 0.2s ease-out;
    -moz-transition:  0.2s ease-out;
    transition:  0.2s ease-out;
}

.post-content {
    display: flex;
    flex: 0.62;
    max-width: 62%;
    min-width: 62%;
    height: fit-content;
    flex-direction: column;
    /*overflow: hidden;*/
}

.post-content-header{
    display: flex;
    flex: 1;
    flex-direction: row;
}

.post-content-info {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
    align-items: center;
    align-content: center;
    min-height: 85px;
    max-height: 85px;
    border-bottom: 1px solid #292E3A;
}

.post-content-info-button{
    border-radius: 50px;
    box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.1);
    display: flex;
    align-items: center;
    min-width: 3rem;
    height: 3rem;
    background-color: #111112;
    -webkit-transition: 0.2s ease-out;
    -moz-transition:  0.2s ease-out;
    transition:  0.2s ease-out;
}

.post-content-info-button svg{
    -webkit-transition: 0.2s ease-out;
    -moz-transition:  0.2s ease-out;
    transition:  0.2s ease-out;
    color: #b2b2b2;
}

.post-content-info-button:hover > svg{
    color: #ffffff;
    scale: 1.1;
}

.post-content-text{
    display: flex;
    flex-grow: 1;
    flex-shrink: 2;
    min-width: 5%;
    max-width: 75%;
    font-family: 'Karla', sans-serif;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.post-author{
    color: #b2b2b2;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 14px;
    margin-bottom:6px;
}

.post-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    color: #fcfcfc;
    font-weight: bolder;
}

.post-content-board-button{
    margin-left: auto;
    margin-right: 10px;
    border-radius: 50px;
    box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.1);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    /*width: 3rem;*/
    height: 3rem;
    background-color: #111112;
    width: 100%;
    max-width: 3rem;
    -webkit-transition: 0.3s ease-out;
    -moz-transition:  0.3s ease-out;
    transition:  0.3s ease-out;
    overflow: hidden;
}

.post-content-board-button:hover{
    max-width: 10rem;
}

.post-content-board-button-icons{
    transition: 0.4s ease-out;
    color: #7c57a5;
}

.post-content-board-button-text{
    /*display: none;*/
    /*scale: 0;*/
    /*-webkit-transition: 0.3s ease-in-out;*/
    /*-moz-transition:  0.3s ease-in-out;*/
    transition:  0.3s ease-in-out,opacity 1s ease-in-out;
    font-family: 'Karla', sans-serif;
    /*font-weight: bold;*/
    color: #b2b2b2;
    /*left: -999em;*/
    /*visibility: hidden;*/
    font-size: 0;
    /*max-width: 0;*/
    opacity: 0;

    transform: translate(-40px,-100px);
    /*visibility: hidden;*/
    /*scale: 0;*/
}

.post-content-board-button:hover .post-content-board-button-icons{
    color: #bb6bff;
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
}

.post-content-board-button:hover .post-content-board-button-text{
    /*scale: 1;*/
    /*display: block;*/
    /*-webkit-transition: 0.3s ease-out;*/
    /*-moz-transition:  0.3s ease-out;*/
    /*transition:  0.3s ease-out;*/
    font-size: 15px;
    margin-right: 5px;
    opacity: 1;
    max-width: fit-content;
    transform: translate(0px);
}

.post-content-data{
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 30px 30px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition:  0.5s ease-in-out;
    transition:  0.5s ease-in-out;
}

.post-content-data-text{
    font-family: "DM Sans",sans-serif;
    color: #dedede;
    height: 100%;
    /*min-width: 590px;*/
    min-width: 100%;
}

.post-content-data-image{
    max-height: 200px;
    width: 100%;
    border-radius: 25px;
    /*background-color: red;*/
    object-fit: cover;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition:  0.5s ease-in-out;
    transition:  0.5s ease-in-out;
}

.post-content-data-image > img{
    height: 100%;
    border-radius: inherit;
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition:  0.5s ease-in-out;
    transition:  0.5s ease-in-out;
}

.post-content-data-image:hover > img{
    /*height: fit-content;*/
    max-height: 1000px;

}

.post-content-data-image:hover{
    max-height: 1000px;
    /*-webkit-transition: 0.2s ease-out;*/
    /*-moz-transition:  0.2s ease-out;*/
    /*transition:  0.2s ease-out;*/
}

.post-comments{
    /*min-height: 200px;*/
    display: flex;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    flex-direction: column-reverse;
    align-items: center;
    border-left: 1px solid #292E3A;
    position: relative;
}

.post-input {
    width: 100%;
    border-top: 1px solid #292E3A;
    padding: 25px;
}

.post-comments-input {
    width: 100%;
    height: 55px;
    box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.1);
    background-color: #111112;
    font-family: "DM Sans", sans-serif;
    color: white;
    font-size: 1em;
    padding: 1rem;
    border-radius: 15px 15px 30px 15px;
    z-index: 2;
    position: relative;
    transition:  0.3s ease-out;
}

.post-comments-input:focus-within {
    background-color: #161617;
}

.sendIcon:hover {
    color: #3b82f6;
}

.post-comments-input-bar {
    width: 100%;
}

.post-comments-map {
    width: 100%;
    /*max-height: 50%;*/
    padding: 0 25px 0 25px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow: auto;
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
}

.post-comments-block{
    transform: translateX(5px);
    overflow: auto;
    /*width: 100%;*/
    position: absolute;
    left: 0px;
    right: 0px;
    top: 40px;
    bottom: 106px;
    margin-bottom: auto;
    max-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}